.root {

  } 
  

  .slick-slider {

  }

  * { min-height: 0; min-width: 0; }


  .slick-track {
    display: flex;    
  }
  .slick-track .slick-slide {
    display: flex;    
    padding: 1px; 
    height: 60vh;
    align-items: center;
    justify-content: center;
    color: #564D65;
    background: #2CDA9D;
  }

  .slick-prev {
    top: -8%;
    left: 3% !important;
    z-index: 1;
  }
  .slick-next {
    top: -8%;
    right: 3% !important;
    z-index: 1;
  }

.qnumber {
  align-self: flex-start !important;
  font-weight: bold;
}



  
